{% extends 'base.html.twig' %}

{% block title %}Docteur index{% endblock %}

{% block body %}
    <h1>Docteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rpps</th>
                <th>MotDePasse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for docteur in docteurs %}
            <tr>
                <td>{{ docteur.id }}</td>
                <td>{{ docteur.rpps }}</td>
                <td>{{ docteur.motDePasse }}</td>
                <td>
                    <a href="{{ path('app_docteur_show', {'id': docteur.id}) }}">show</a>
                    <a href="{{ path('app_docteur_edit', {'id': docteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_docteur_new') }}">Create new</a>
{% endblock %}
